[submodule "BASH_FUNC_LIB"]
	path = BASH_FUNC_LIB
	url = https://github.com/pegasusict/BASH_FUNC_LIB.git
[submodule "PLAT_WordPressTools"]
	path = PLAT_WordPressTools
	url = https://github.com/pegasusict/PLAT_WordPressTools.git
[submodule "PLAT_container_toolset"]
	path = PLAT_container_toolset
	url = https://github.com/pegasusict/PLAT_container_toolset.git
[submodule "PLAT_internet_watchdog"]
	path = PLAT_internet_watchdog
	url = https://github.com/pegasusict/PLAT_internet_watchdog
[submodule "PLAT_Manager"]
	path = PLAT_Manager
	url = https://github.com/pegasusict/PLAT_Manager.git
