[submodule "PLAT_WordPressTools"]
	path = PLAT_WordPressTools
	url = https://github.com/pegasusict/PLAT_WordPressTools.git
[submodule "PBFL"]
	path = PBFL
	url = https://github.com/pegasusict/PBFL.git
[submodule "PLAT_Container_ToolSet"]
	path = PLAT_Container_ToolSet
	url = https://github.com/pegasusict/PLAT_Container_ToolSet
[submodule "PLAT_AptCacher"]
	path = PLAT_AptCacher
	url = https://github.com/pegasusict/PLAT_AptCacher
[submodule "PLAT_Internet_WatchDog"]
	path = PLAT_Internet_WatchDog
	url = https://github.com/pegasusict/PLAT_Internet_WatchDog
[submodule "plat_aptcacher"]
	path = plat_aptcacher
	url = https://github.com/pegasusict/plat_aptcacher
[submodule "PLAT_internet_watchdog"]
	path = PLAT_internet_watchdog
	url = https://github.com/pegasusict/PLAT_internet_watchdog
[submodule "PLAT_Manager"]
	path = PLAT_Manager
	url = https://github.com/pegasusict/PLAT_Manager